<!DOCTYPE html>

<html ng-app='imdb'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>IMDB</title>
		<link href="css/style.css" rel="stylesheet" />
		<script src="js/angular.js"></script>
		<!--app-->
		<script src="app/imdb.js"></script>
		
		<!--controllers-->
		<script src="app/controllers/searchBox.js"></script>
		
		<!--services-->
		<script src="app/Services/message.js"></script>
	</head>
	<body>
	 
			<div ng-controller="searchBoxById">
				<input ng-model='searchById' />
				
				<button ng-click='getMovies()'>Search By Id</button>
				<div ng-repeat="r in results">
					
					{{r}}
					<hr>
				</div>
				
			</div>
			
			
	</body>
</html>